body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #043a8a;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background-color: gold;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: blue;
}

.ABC {
    text-align: center;
    text-shadow: 0 0 4px black;
    font-size: x-large;
}

main {
    flex: 1; 
}

footer {
    background-color: #a87c6c; /* Using the original color for now */
    color: white;
    padding: 1em;
    text-align: center;
    width: calc(100% - 50px); 
    margin-top: auto; 
    text-shadow: 0 0 4px white;
}

.IMG123 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.AAA {
    text-align: center;
    text-shadow: 0 0 4px black;
    font-size: 20px;
}

.content {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    width: auto;
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;
    text-align: left; 
    padding: 10px; 
    box-sizing: border-box; 
    background-color: gold; /* Using gold for now */
    text-shadow: 0 0 4px black;
}

.ZZZ {
    text-align: center;
    text-shadow: 0 0 4px black;
}

.COLLAPSE {
    text-align: center;
    display: inline-block;
    text-shadow: 0 0 4px black;
}

.Collapsible {
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 4px black;
}

.show {
    display: block;
    text-shadow: 0 0 4px black;
}

.NOPE {
    text-align: center;
    font-size: 85px;
    text-shadow: 0 0 4px black;
}
